@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Lab3.Models.Student
@{
    Layout = "_Layout";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" asp-append-version="true" />

<div class="student-dis">

    <table>
    <tr>
        <td><h4>First Name:</h4></td>
        <td>@Model.FirstName</td>
    </tr>

    <tr>
        <td><h4>Last Name:</h4></td>
        <td>@Model.LastName</td>
    </tr>

    <tr>
        <td><h4>Student ID:</h4></td>
        <td>@Model.StudentId</td>
    </tr>

    <tr>
        <td><h4>Email Address:</h4></td>
        <td>@Model.EmailAddress</td>
    </tr>

    <tr>
        <td><h4>Description of Person:</h4></td>
        <td>@Model.Description</td>
    </tr>
</table>
</div>